pre.code {
  background-color: #2f3032;
  color: #a9b7c6;
}

pre.code .synComment {
  color: #629755;
}

pre.code .synConstant {
  color: #6897bb;
}

pre.code .synIdentifier {
  color: #9876aa;
}

pre.code .synPreProc {
  color: #cc7832;
}

pre.code .synSpecial {
  color: #a9b7c6;
}

pre.code .synStatement {
  color: #cc7832;
}

pre.code .synType {
  color: #cc7832;
}
